<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.et">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Thrift"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ET"
        tools:targetApi="31">
        <activity
            android:name=".mainUser"
            android:exported="false" />
        <activity
            android:name=".editorUser"
            android:exported="false" />
        <activity
            android:name=".mainAdmin"
            android:exported="false" />
        <activity
            android:name=".editorAdmin"
            android:exported="false" />
        <activity
            android:name=".adminRegister"
            android:exported="false" />
        <activity
            android:name=".adminLogin"
            android:exported="false" />
        <activity
            android:name=".registerUser"
            android:exported="false" />
        <activity
            android:name=".loginUser"
            android:exported="false" />
        <activity
            android:name=".menuUser"
            android:exported="false" />
        <activity
            android:name=".menuAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".first"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>